#navegacao{
    display: inline-block;
    background-color: #1cd93c;
    width: 20%;
    height: 1000px;
    text-align: center;
    padding-top: 15%;
}

#link{
    color: black;
}

.image{
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    width: 150px;
    height: 150px;
}

#descricao, #conhecimentos{
    display: inline-block;
    width: 50%;
    height: 1000px;
    padding-top: 0%;
    margin-left: 50px;
}

.item{
    list-style-type: square;
}

.card-title, .title-ul{
    font-family: 'Pacifico', cursive;
}

.social{
    display: inline;
    padding: 5px;
}

#linkedin, #github, #gmail, #facebook, #instagram{
    width: 40px;
    height: 40px;
    padding: 5px;
}